<div class="profile__container">
  <div class="card" id="profilecard">
    <div class="card-content">
      <p id="username" class="heading">loading..</p>
      <div class="avatar">
        <img id="profileAvatar" src="" alt="pfp" />
      </div>
      <!-- last online -->

      <div class="info-graphs">
        <div class="info-graph">
          <h4>Last Online</h4>
          <h5 id="label-lastonline"></h5>
        </div>
        <div class="info-line"></div>

        <div class="info-graph">
          <h4>Joined</h4>
          <h5 id="label-joined"></h5>
        </div>
      </div>

      <a href="/settings.html" class="button">Settings</a>
    </div>
  </div>
</div>
